/vivado/mopshub_seu_example/mopshub_board_seu*
/vivado/mopshub_seu_example/.Xil*
/vivado/mopshub_seu_example/webtalk*
!/vivado/mopshub_seu_example/

/vivado//irradiation_data*
!/vivado//irradiation_data/


.mr.developer.cfg
.project
*.pydevproject
.settings
*DS_Store
*__pycashe__
.ropeproject
*.log
*.pot
*.kafe
*.vscode
*.Xil

